<link rel="stylesheet" href="/navbar.css" />

<header class="header">
	<div class="logo">
		<a href="/home" id="icon">Infortega</a>
	</div>
	<nav>
		<ul class="nav-links">
			<li><a href="/games" class="button">Juegos</a></li>
		</ul>
	</nav>
</header>
